<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  .input-filed{
    padding: 5px 0;
  }
  .btn-save{
    margin-left: 53px;
    padding: 5px;
  }
</style>
<body>
  <form id="edit-form">
    <div class="input-form">
      <span>标签：</span>
      <input id="title">
    </div>
    <div class="input-filed">
    <span>内容：</span>
    <textarea id="content" rows="5"></textarea>
    </div>
    <button type="submit" class="btn-save">保存</button>

  </form>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#edit-form').on('submit',function(res){
      var title = $('#title').val();
      var content = $('#content').val();
      //前端通过AJAX向后端传数据，往后端调接口（后端接口）
      $.ajax({
        url:'/api/news/save',
        type:'post',
        data:{
          title:title,
          content:content
        },
        dataType:'json',
        success:function(res){
          console.log(res)
        },
        error:function(err){
            console.error(err)
        }
      })
      return false;
    });
  });
</script>
</body>






</html>
